<%= form_for([@group, @group.comments.build]) do |f| %>
<form class="form-inline">
	<div class="form-group">
		<%= f.text_area :body, class: "form-control commet-submit" %>
		<input class="btn btn-default" type="submit" value="Submit">
	</div>
</form>
<% end %>
