@import "bootstrap-sprockets";
@import "bootstrap";

.comment_body p {
  margin: 0 70px 10px;
}

textarea.commet-submit {
  height: 35px;
  width: 70%;
  display: inline-block;
  margin-bottom: -14px;
  margin-left: 60px;
}
.progress {
  border-radius: 20px;
}

.progress-bar {
  border-radius: 20px;
  text-align: left;
  padding-left: 5px;
  background: #ec8736;
}

.progress-bar2{
  background: #4d394b;
}

.badge {
  background: #e94c5c;
}
