<div id="sidebar">
  <div class="logo"><%= image_tag "meepshop.png" %></div>
  <div class="site-nav">
    <ul class="menu">
      <li>群組</li>
      <li>#Pickone</li>
      <li>#社群行銷</li>
      <li>#程式除錯</li>
      <li>#場地問題</li>
      <li class="item">#找人才&nbsp;<span class="badge">8</span></li>
      <li>#會議討論</li>
      <li>#隨便聊</li>
    </ul>

    <ul class="menu">
      <li>成員</li>
      <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp;米波人</li>
      <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp;黃鈺閔</li>
    </ul>
  </div>
  <div class="site-meta">
    <div id="profile">
      <%= image_tag "profile.png" %>
    </div>
    <div class="name">
      <span>黃鈺閔</span>
      <p><i class="fa fa-circle" aria-hidden="true"></i>&nbsp;online</p>
    </div>
  </div>
</div>
