<div id="sidebar">
  <div class="logo"></div>
  <ul class="list">
    <li>群組</li>
    <li>#上班談正事</li>
    <li>#加班碎碎念</li>
    <li>#場地問題</li>
    <li>#找人才</li>
    <li>#會議討論</li>
    <li>#隨便聊</li>
  </ul>

  <ul class="list">
    <li>成員</li>
    <li>Picker</li>
    <li>黃鈺閔</li>
  </ul>
  <div class="status">
    <div id="profile">
      <%= image_tag "profile.png" %>
    </div>
    <div class="name">
      <p>黃鈺閔</p>
      <p>online</p>
    </div>
  </div>
</div>
